@font-face {
    font-family: Norse-Bold;
    src: url(/fonts/Norse-Bold.otf);
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
}

.left{
    background-image: url(./images/background.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
}


.right{
    display: flex;
    justify-content: center;
    width: 100vw;
}