@font-face {
    font-family: Norse-Bold;
    src: url(/fonts/Norse-Bold.otf);
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.left{
    background-image: url(./images/background.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.right{
    display: flex;
    flex-direction: column;  
    background-color: #fafafa;  
    width: 65vw;
}

.first{
    height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 1%;
}

.second{
    height: 40vh;
    background-color: white;
    margin-left: 5%;
    box-shadow: 2px 5px #E5E7EB;
}

.form-main{
    display: flex;
    flex-direction: row;
    width: 55%;
    justify-content: space-between;
}

.form-div{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-bottom: 13px;
}

input{
    width: 200px;
    border:1px solid #E5E7EB;
    height: 25px;
    border-radius: 5px;
    
}

input:focus{
    border: 1px solid blue;
}

#error{
    color: red;
    font-size: 10px;
    margin: 1px;
}

.btn-create{
    background-color: #596d48;
    border: 1px solid #596d48;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 175px;
    font-weight: bolder;
    font-size: small;
    box-shadow: 2px 5px #E5E7EB;
}

.third{
    height: 30vh;
    margin: 30px;
}

.login{
    margin-top: 30px;
    font-weight: bold;
}

a{
    color: #596d48;
    text-decoration: none;
}