@font-face {
    font-family: Norse-Bold;
    src: url(/fonts/Norse-Bold.otf);
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.left, .right{
    display: flex;
    justify-content: center;
    width: 100vw;
}